<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlPA5Hd9EZNipQfElHPyE3kG7eKKUVWsA</string>
	<key>GCM_SENDER_ID</key>
	<string>615969496854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaaaaat</string>
	<key>PROJECT_ID</key>
	<string>chaat-appp-fb096</string>
	<key>STORAGE_BUCKET</key>
	<string>chaat-appp-fb096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615969496854:ios:137aeac3f203e5222f7a37</string>
</dict>
</plist>